#container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

main .block{
    border: 1px solid gray;

    height: 23rem;
    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;

    padding: 5.7rem;
}

.block .block-timer{
    margin-bottom: 3rem;
}

.block-timer span{
    font-size: 10rem;
    color: #111111;
}