.block-btn{
    display: flex;
    justify-content: space-around;
    
    width: 80%;
}
.block-btn button{
    background: transparent;
    
    border: 1px solid #B9B9B9;
    border-radius: 50%;
    
    height: 9rem;
    width: 9rem;

    display: none;

    cursor: pointer;
}

.block-btn .active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-btn button img{
    height: 4rem;
    width: 3rem;

    pointer-events: none;
}
button[data-btn='play'] img{
    margin-left: 1rem;
}