#page-cronometro{
    background: linear-gradient(116.82deg, #3A81D4 100%, #0377FF 85%);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

main .block{
    border-radius: 2.8rem;

    height: 46.1rem;
    width: 63.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #f5f5f5;

    padding: 5.7rem;
}

.block .block-timer{
    margin-bottom: 3rem;
}

.block-timer span{
    font-size: 9.8rem;
    color: #111111;
}